<h1>Hien thi</h1>
<form asp-action="index">
    <label>Nhap vao mot so bat ki:</label>
    <input type="number" name="Number">
    <input type="submit" value="Enter">
</form>
<h3>@ViewBag.Message</h3>